In [304]:
from scipy.stats import truncnorm, multivariate_normal, norm
import numpy as np
import matplotlib.pyplot as plt
import time
import seaborn as sns
import pandas as pd

# Hyperparameteres

In [324]:
# Parameters
mu_1 = 25
mu_2 = 25
sigma_1 = 25/3
sigma_2 = 25/3
sigma_t = 25/6
iterations = 800

# Loading Dataset

In [306]:
df = pd.read_csv('SerieA.csv')
unique_teams = pd.concat([df['team1'], df['team1']], ignore_index=True).unique().tolist() # list
unique_teams.sort()
# unique_teams = np.array(unique_teams)
unique_teams # 0, Atlanta

['Atalanta',
 'Bologna',
 'Cagliari',
 'Chievo',
 'Empoli',
 'Fiorentina',
 'Frosinone',
 'Genoa',
 'Inter',
 'Juventus',
 'Lazio',
 'Milan',
 'Napoli',
 'Parma',
 'Roma',
 'Sampdoria',
 'Sassuolo',
 'Spal',
 'Torino',
 'Udinese']

In [307]:
team_mapping = {}
for i, team in enumerate(unique_teams):
    team_mapping[team] = i
team_mapping # Atlanta, 0

{'Atalanta': 0,
 'Bologna': 1,
 'Cagliari': 2,
 'Chievo': 3,
 'Empoli': 4,
 'Fiorentina': 5,
 'Frosinone': 6,
 'Genoa': 7,
 'Inter': 8,
 'Juventus': 9,
 'Lazio': 10,
 'Milan': 11,
 'Napoli': 12,
 'Parma': 13,
 'Roma': 14,
 'Sampdoria': 15,
 'Sassuolo': 16,
 'Spal': 17,
 'Torino': 18,
 'Udinese': 19}

In [308]:
df['team1_idx'] = df['team1'].map(team_mapping)
df['team2_idx'] = df['team2'].map(team_mapping)
df

,yyyy-mm-dd,HH:MM,team1,team2,score1,score2,team1_idx,team2_idx
0,2018-08-18,18:00,Chievo,Juventus,2,3,3,9
1,2018-08-18,20:30,Lazio,Napoli,1,2,10,12
2,2018-08-19,18:00,Torino,Roma,0,1,18,14
3,2018-08-19,20:30,Sassuolo,Inter,1,0,16,8
4,2018-08-19,20:30,Parma,Udinese,2,2,13,19
...,...,...,...,...,...,...,...,...
375,2019-05-26,20:30,Roma,Parma,2,1,14,13
376,2019-05-26,20:30,Inter,Empoli,2,1,8,4
377,2019-05-26,20:30,Fiorentina,Genoa,0,0,5,7
378,2019-05-26,20:30,Cagliari,Udinese,1,2,2,19
379,2019-05-26,20:30,Atalanta,Sassuolo,3,1,0,16

In [309]:
score_difference = df['score1'] - df['score2']

# Create a new DataFrame with the desired columns
result_df = pd.DataFrame({
    'team1_idx': df['team1_idx'],
    'team2_idx': df['team2_idx'],
    'score_difference': np.where(df['score1'] - df['score2'] > 0, 1, 
                                   np.where(df['score1'] - df['score2'] < 0, -1, 0))
})

# Remove rows where score_difference is zero
result_df = result_df[result_df['score_difference'] != 0]

result_df

     team1_idx  team2_idx  score_difference
0            3          9                -1
1           10         12                -1
2           18         14                -1
3           16          8                 1
5            4          2                 1
..         ...        ...               ...
374         17         11                -1
375         14         13                 1
376          8          4                 1
378          2         19                -1
379          0         16                 1

[272 rows x 3 columns]

In [310]:
# Convert the DataFrame to a NumPy array
result_array = result_df.to_numpy()
result_array

array([[ 3,  9, -1],
       [10, 12, -1],
       [18, 14, -1],
       [16,  8,  1],
       [ 4,  2,  1],
       [ 1, 17, -1],
       [ 0,  6,  1],
       [ 9, 10,  1],
       [12, 11,  1],
       [17, 13,  1],
       [19, 15,  1],
       [ 7,  4,  1],
       [ 5,  3,  1],
       [11, 14,  1],
       [ 1,  8, -1],
       [13,  9, -1],
       [ 5, 19,  1],
       [18, 17,  1],
       [16,  7,  1],
       [15, 12,  1],
       [10,  6,  1],
       [ 0,  2, -1],
       [ 8, 13, -1],
       [12,  5,  1],
       [ 6, 15, -1],
       [ 9, 16,  1],
       [ 7,  1,  1],
       [ 4, 10, -1],
       [17,  0,  1],
       [16,  4,  1],
       [13,  2,  1],
       [ 5, 17,  1],
       [15,  8, -1],
       [18, 12, -1],
       [10,  7,  1],
       [ 3, 19, -1],
       [ 1, 14,  1],
       [ 6,  9, -1],
       [ 8,  5,  1],
       [19, 10, -1],
       [14,  6,  1],
       [12, 13,  1],
       [ 9,  1,  1],
       [ 7,  3,  1],
       [17, 16, -1],
       [14, 10,  1],
       [ 9, 12,  1],
       [ 8,  2,  1],
       [ 1, 19,  1],
       [ 6,  7, -1],
       [ 5,  0,  1],
       [ 3, 18, -1],
       [13,  4,  1],
       [16, 11, -1],
       [15, 17,  1],
       [18,  6,  1],
       [ 2,  1,  1],
       [19,  9, -1],
       [ 4, 14, -1],
       [ 7, 13, -1],
       [11,  3,  1],
       [10,  5,  1],
       [ 0, 15, -1],
       [12, 16,  1],
       [17,  8, -1],
       [14, 17, -1],
       [19, 12, -1],
       [13, 10, -1],
       [ 3,  0, -1],
       [ 8, 11,  1],
       [ 0, 13,  1],
       [ 4,  9, -1],
       [17,  6, -1],
       [ 2,  3,  1],
       [11, 15,  1],
       [10,  8, -1],
       [11,  7,  1],
       [12,  4,  1],
       [ 8,  7,  1],
       [ 9,  2,  1],
       [10, 17,  1],
       [15, 18, -1],
       [ 3, 16, -1],
       [ 1,  0, -1],
       [19, 11, -1],
       [18, 13, -1],
       [ 7, 12, -1],
       [ 0,  8,  1],
       [14, 15,  1],
       [ 4, 19,  1],
       [11,  9, -1],
       [19, 14,  1],
       [ 9, 17,  1],
       [ 8,  6,  1],
       [13, 16,  1],
       [ 4,  0,  1],
       [ 5,  9, -1],
       [15,  1,  1],
       [11, 13,  1],
       [18,  7,  1],
       [ 0, 12, -1],
       [ 9,  8,  1],
       [12,  6,  1],
       [19,  0, -1],
       [ 4,  1,  1],
       [ 8, 19,  1],
       [18,  9, -1],
       [15, 13,  1],
       [ 6, 16, -1],
       [ 5,  4,  1],
       [ 2, 12, -1],
       [14,  7,  1],
       [ 0, 10,  1],
       [10,  2,  1],
       [12, 17,  1],
       [11,  5, -1],
       [ 7,  0,  1],
       [ 4, 15, -1],
       [ 9, 14,  1],
       [15,  3,  1],
       [ 5, 13, -1],
       [ 2,  7,  1],
       [ 1, 10, -1],
       [18,  4,  1],
       [14, 16,  1],
       [ 8, 12,  1],
       [ 9, 15,  1],
       [19,  2,  1],
       [16,  0, -1],
       [13, 14, -1],
       [ 4,  8, -1],
       [ 3,  6,  1],
       [12,  1,  1],
       [11, 17,  1],
       [14, 18,  1],
       [19, 13, -1],
       [ 6,  0, -1],
       [12, 10,  1],
       [ 7, 11, -1],
       [ 9,  3,  1],
       [16,  2,  1],
       [15, 19,  1],
       [ 3,  5, -1],
       [13, 17, -1],
       [ 1,  6, -1],
       [18,  8,  1],
       [10,  9, -1],
       [ 4,  7, -1],
       [12, 15,  1],
       [ 8,  1, -1],
       [ 6, 10, -1],
       [ 2,  0, -1],
       [10,  4,  1],
       [ 3, 14, -1],
       [13,  8, -1],
       [18, 19,  1],
       [15,  6, -1],
       [ 0, 17,  1],
       [16,  9, -1],
       [11,  2,  1],
       [ 9,  6,  1],
       [ 2, 13,  1],
       [ 0, 11, -1],
       [17,  5, -1],
       [19,  3,  1],
       [ 7, 10,  1],
       [ 4, 16,  1],
       [ 8, 15,  1],
       [14,  1,  1],
       [11,  4,  1],
       [18,  0,  1],
       [ 6, 14, -1],
       [15,  2,  1],
       [ 1,  9, -1],
       [13, 12, -1],
       [ 2,  8,  1],
       [11, 16,  1],
       [10, 14,  1],
       [18,  3,  1],
       [19,  1,  1],
       [17, 15, -1],
       [ 0,  5,  1],
       [12,  9, -1],
       [ 9, 19,  1],
       [13,  7,  1],
       [ 3, 11, -1],
       [ 1,  2,  1],
       [15,  0, -1],
       [ 8, 17,  1],
       [ 6, 18, -1],
       [14,  4,  1],
       [ 2,  5,  1],
       [16, 15, -1],
       [17, 14,  1],
       [18,  1, -1],
       [ 7,  9,  1],
       [10, 13,  1],
       [ 4,  6,  1],
       [12, 19,  1],
       [11,  8, -1],
       [ 3,  2, -1],
       [19,  7,  1],
       [ 9,  4,  1],
       [15, 11,  1],
       [13,  0, -1],
       [14, 12, -1],
       [ 6, 17, -1],
       [ 1, 16,  1],
       [ 8, 10, -1],
       [ 2,  9, -1],
       [ 4, 12,  1],
       [18, 15,  1],
       [17, 10,  1],
       [ 7,  8, -1],
       [ 6, 13,  1],
       [16,  3,  1],
       [ 0,  1,  1],
       [ 9, 11,  1],
       [15, 14, -1],
       [ 5,  6, -1],
       [19,  4,  1],
       [ 2, 17,  1],
       [ 1,  3,  1],
       [17,  9,  1],
       [14, 19,  1],
       [11, 10,  1],
       [15,  7,  1],
       [ 3, 12, -1],
       [ 6,  8, -1],
       [10, 19,  1],
       [10,  3, -1],
       [ 7, 18, -1],
       [ 4, 17, -1],
       [ 2,  6,  1],
       [ 1, 15,  1],
       [ 9,  5,  1],
       [12,  0, -1],
       [ 1,  4,  1],
       [14,  2,  1],
       [ 6, 12, -1],
       [15, 10, -1],
       [18, 11,  1],
       [ 0, 19,  1],
       [ 5, 16, -1],
       [ 3, 17, -1],
       [ 4,  5,  1],
       [10,  0, -1],
       [12,  2,  1],
       [11,  1,  1],
       [ 0,  7,  1],
       [ 2, 10, -1],
       [ 5, 11, -1],
       [18, 16,  1],
       [15,  4, -1],
       [ 6, 19, -1],
       [17, 12, -1],
       [14,  9,  1],
       [ 1, 13,  1],
       [ 8,  3,  1],
       [19, 17,  1],
       [13,  5,  1],
       [ 4, 18,  1],
       [11,  6,  1],
       [12,  8,  1],
       [ 1, 12,  1],
       [18, 10,  1],
       [15,  9,  1],
       [17, 11, -1],
       [14, 13,  1],
       [ 8,  4,  1],
       [ 2, 19, -1],
       [ 0, 16,  1]], dtype=int64)

In [325]:
# MU and Sigma for each team
skills_dist = [[mu_1, sigma_1] for _ in unique_teams]
skills_dist

[[25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334],
 [25, 8.333333333333334]]

# GIBBS SAMPLER

In [312]:
# Helper function to sample from a truncated normal distribution
def truncated_normal(mean, std, lower, upper):
    a, b = (lower - mean) / std, (upper - mean) / std
    return truncnorm.rvs(a, b, loc=mean, scale=std)

In [318]:
# Gibbs Sampler
def gibbs_sampler(mu_1, mu_2, sigma_1, sigma_2 ,y, iterations):
    # Initialize t
    # inital t ???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
    if y == 1:
        t = np.abs(np.random.randn())
    else:
        t = -np.abs(np.random.randn())

    
    samples = []
    
    for i in range(iterations):
        # p(s1,s2|t,y)
        # p(S|t,y)
        # QUESTION 3.1
        # Step 1: Draw s_1 and s_2 from the conditional distribution N(mean_s|t, cov_s|t) -
        
        
        
        sigma_s_inv = np.array([[1.0/(sigma_1 * sigma_1), 0.0],
                                [0.0, 1.0/(sigma_2 * sigma_2)]])
        
        sigma_t_s_inv = 1.0 / (sigma_t * sigma_t)
        mu_s = np.array([mu_1, mu_2]).T.reshape(2,1) # 2 x 1 (2, 1)
        A = np.array([1.0, -1.0]).reshape(1, 2) # 1 x 2
        
        # (2x2)
        cov_s_t = np.linalg.inv(sigma_s_inv + (A.T @ (sigma_t_s_inv * A) ) )
        
         # (2, )
        mean_s_t = cov_s_t @ ( (sigma_s_inv @ mu_s) + (A.T * sigma_t_s_inv * t) )
 
       
        # Draw from the multivariate normal distribution
        mean_s_t = mean_s_t.reshape(2,)
        s_1, s_2 = multivariate_normal.rvs(mean=mean_s_t, cov=cov_s_t)

        #DO WE NEED TO UPDATE: mu_1 +mu_2, sigma_1, sigma_2 ????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????

        #p(t | s_1, s_2, y)
        #p(t | S, y)

        # QUESTION 3.2
        # Step 2: Draw t from the conditional distribution 
        mean_t = s_1 - s_2 
        # print(s_1, s_2)
        if y == 1:
            t = truncated_normal(mean_t, sigma_t, 0, np.inf)  # For y = 1, t > 0
        else:
            t = truncated_normal(mean_t, sigma_t, -np.inf, 0)  # For y = -1, t < 0

        # Store samples
        samples.append((s_1, s_2, t))

    # burn_in = int(0.3 * iterations)
    burn_in = 25
    samples = np.array(samples)
    mean = np.mean(samples[burn_in:, :2], axis = 0)
    covariance = np.cov(samples, rowvar = False)
    return mean[0], mean[1], covariance[0,0], covariance[1, 1]

# Run

In [326]:
for team_1, team_2, y in result_array:
    print(team_1, team_2)
    mu_1 = skills_dist[team_1][0]
    sigma_1 = skills_dist[team_1][1]
    mu_2 = skills_dist[team_2][0]
    sigma_2 = skills_dist[team_2][1]
    print(mu_1, mu_2, sigma_1, sigma_2)
    mu_1, mu_2, sigma_1, sigma_2 = gibbs_sampler(mu_1=mu_1,
                                                    mu_2=mu_2, 
                                                    sigma_1=sigma_1,
                                                    sigma_2=sigma_2,
                                                    y=y,
                                                    iterations=iterations)
    skills_dist[team_1][0] = mu_1
    skills_dist[team_2][0] = mu_2
    skills_dist[team_1][1] = sigma_1
    skills_dist[team_2][1] = sigma_2

3 9
25 25 8.333333333333334 8.333333333333334
10 12
25 25 8.333333333333334 8.333333333333334
18 14
25 25 8.333333333333334 8.333333333333334
16 8
25 25 8.333333333333334 8.333333333333334
4 2
25 25 8.333333333333334 8.333333333333334
1 17
25 25 8.333333333333334 8.333333333333334
0 6
25 25 8.333333333333334 8.333333333333334
9 10
29.73269455994669 20.441458716540037 58.728635630123044 51.6290496550443
12 11
29.856347307429008 25 51.22518233742342 8.333333333333334
17 13
29.002345655713068 25 48.52415003949262 8.333333333333334
19 15
25 25 8.333333333333334 8.333333333333334
7 4
25 29.502809938713398 8.333333333333334 44.909528534615106
5 3
25 20.404850392245798 8.333333333333334 54.494058618161354
11 14
24.07309270796229 29.111129399107227 64.06112222530095 51.43115471333715
1 8
20.652603398239368 20.407330295766506 47.71400595496527 49.541958489747685
13 9
24.18481190405172 42.75513524529001 70.09089325477215 1591.4019555406894
5 19
26.502605370945272 29.75859647553627 69.07227362437285 50.49066765887727
18 17
20.453958036401556 49.004989160820585 49.40105608253127 316.6575179257984
16 7
29.171691651257767 26.18345759785461 52.47131893402925 68.28546920090476
15 12
20.897923726101617 63.35407309788777 51.95655001162331 800.5048110386997
10 6
8.47959738890072 21.007269695320872 1530.7000055000005 45.1161045194888
0 2
29.023142488331946 21.35830736246412 48.46707739809069 50.2327014893639
8 13
41.82346540706927 20.675091803862042 1431.3221955531865 5133.614881015262
12 5
-164.06269253544494 50.19084029308749 10068.154714577031 1972.238600216733
6 15
20.389190658519208 16.03533372526518 1974.2490097004584 2855.1084975973663
9 16
68.13459966047976 49.72572348870921 6092.1144035667785 1764.6783398866728
7 1
-4.109964477370274 4.931338125246858 2287.668480244558 1357.9717903716828
4 10
-0.276367647705781 206.9341627906515 518.0076712767534 7889.423708335069
17 0
-29.49060784261275 0.8549273945961396 3310.999033297981 1525.6758728715768
16 4
-7.855133032273985 28.678002468654565 3189662.822791468 257745.4442488536
13 2
117.14322536382564 45.30483469606675 1836070.384166511 1463.0273892746554
5 17
65.93379588658972 58.65542715839807 3650575.885301569 1898430.1848594216
15 8
145.13581886819983 -51.808746559773404 2521923.774531297 1824111.0076737187
18 12
22.58097801709411 175.80350275686288 2215.4482691677576 3676012.527058364
10 7
78.00664583321404 -42.63310746673701 260034.8810710493 1363478.9224823548
3 19
-17.094746976722362 15.382581417590012 1268.7952826397348 1779.8214623237147
1 14
-79.06855801701244 6.8225790572897065 1359645.6467896968 1815.3166080227131
6 9
86.81282599858243 129.6169401051773 2530762.681894892 3193539.196552146
8 5
-59607.740128151745 13405.414018358832 2291871729965.5107 2929028387419.1777

LinAlgError: Singular matrix