In [88]:
from scipy.stats import truncnorm, multivariate_normal, norm
import numpy as np
import matplotlib.pyplot as plt
import time
import seaborn as sns
import pandas as pd

# Hyperparameteres

In [89]:
mu_1 = 25
mu_2 = 25
sigma_1 = 25/3
sigma_2 = 25/3
sigma_t = 25/6
iterations = 1200
burn_in = 25 # Q4, 
num_seeds = 42 # for Q5.2, changing the order of the matches.

# Loading Dataset

In [90]:
df = pd.read_csv('SerieA.csv')
unique_teams = pd.concat([df['team1'], df['team1']], ignore_index=True).unique().tolist() # list
unique_teams.sort()
# unique_teams = np.array(unique_teams)
unique_teams # 0, Atlanta

['Atalanta',
 'Bologna',
 'Cagliari',
 'Chievo',
 'Empoli',
 'Fiorentina',
 'Frosinone',
 'Genoa',
 'Inter',
 'Juventus',
 'Lazio',
 'Milan',
 'Napoli',
 'Parma',
 'Roma',
 'Sampdoria',
 'Sassuolo',
 'Spal',
 'Torino',
 'Udinese']

In [91]:
team_mapping = {}
for i, team in enumerate(unique_teams):
    team_mapping[team] = i
team_mapping # Atlanta, 0

{'Atalanta': 0,
 'Bologna': 1,
 'Cagliari': 2,
 'Chievo': 3,
 'Empoli': 4,
 'Fiorentina': 5,
 'Frosinone': 6,
 'Genoa': 7,
 'Inter': 8,
 'Juventus': 9,
 'Lazio': 10,
 'Milan': 11,
 'Napoli': 12,
 'Parma': 13,
 'Roma': 14,
 'Sampdoria': 15,
 'Sassuolo': 16,
 'Spal': 17,
 'Torino': 18,
 'Udinese': 19}

In [92]:
df['team1_idx'] = df['team1'].map(team_mapping)
df['team2_idx'] = df['team2'].map(team_mapping)
df

,yyyy-mm-dd,HH:MM,team1,team2,score1,score2,team1_idx,team2_idx
0,2018-08-18,18:00,Chievo,Juventus,2,3,3,9
1,2018-08-18,20:30,Lazio,Napoli,1,2,10,12
2,2018-08-19,18:00,Torino,Roma,0,1,18,14
3,2018-08-19,20:30,Sassuolo,Inter,1,0,16,8
4,2018-08-19,20:30,Parma,Udinese,2,2,13,19
...,...,...,...,...,...,...,...,...
375,2019-05-26,20:30,Roma,Parma,2,1,14,13
376,2019-05-26,20:30,Inter,Empoli,2,1,8,4
377,2019-05-26,20:30,Fiorentina,Genoa,0,0,5,7
378,2019-05-26,20:30,Cagliari,Udinese,1,2,2,19
379,2019-05-26,20:30,Atalanta,Sassuolo,3,1,0,16

In [93]:
score_difference = df['score1'] - df['score2']

# Create a new DataFrame with the desired columns
result_df = pd.DataFrame({
    'team1_idx': df['team1_idx'],
    'team2_idx': df['team2_idx'],
    'score_difference': np.where(df['score1'] - df['score2'] > 0, 1, 
                                   np.where(df['score1'] - df['score2'] < 0, -1, 0))
})

# Remove rows where score_difference is zero
# result_df = result_df[result_df['score_difference'] != 0]

result_df

     team1_idx  team2_idx  score_difference
0            3          9                -1
1           10         12                -1
2           18         14                -1
3           16          8                 1
4           13         19                 0
..         ...        ...               ...
375         14         13                 1
376          8          4                 1
377          5          7                 0
378          2         19                -1
379          0         16                 1

[380 rows x 3 columns]

In [94]:
# Convert the DataFrame to a NumPy array
result_array = result_df.to_numpy()
# result_array

In [95]:
# np.random.seed(42)
# np.random.shuffle(result_array)
# result_array

In [96]:
# MU and Sigma for each team
skills_dist = [[mu_1, sigma_1] for _ in unique_teams]
skills_dist[0]

[25, 8.333333333333334]

# GIBBS SAMPLER

In [97]:

# sample from a truncated normal distribution
def truncated_normal(mean, std, lower, upper):
    a, b = (lower - mean) / std, (upper - mean) / std
    return truncnorm.rvs(a, b, loc=mean, scale=std)

# Gibbs Sampler
def gibbs_sampler(mu_A, sigma_A, mu_B, sigma_B ,y, iterations, epsilon = sigma_t/4):
    
    if y == 1:
        t = np.abs(np.random.randn())
    elif y == -1:
        t = -np.abs(np.random.randn())
    else:
        t = np.random.uniform(-epsilon, epsilon)
       
        
        

    samples = []
    
    for i in range(iterations):
        # Calculationg mean and sigma of p(s1,s2|t,y) = p(S|t,y)
        
        sigma_s_inv = np.array([[1.0/(sigma_A * sigma_A), 0.0],
                                [0.0, 1.0/(sigma_B * sigma_B)]])
        
        sigma_t_given_s_inv = 1.0 / (sigma_t * sigma_t)
        mu_s = np.array([mu_A, mu_B]).T.reshape(2,1) # 2 x 1 (2, 1)
        A = np.array([1.0, -1.0]).reshape(1, 2) # 1 x 2
        
        # (2x2)
        cov_s_given_t = np.linalg.inv(sigma_s_inv + (A.T @ (sigma_t_given_s_inv * A) ) )
        
        # (2x1)
        mean_s_given_t = cov_s_given_t @ ( (sigma_s_inv @ mu_s) + (A.T * sigma_t_given_s_inv * t) )
 
       
        
        mean_s_given_t = mean_s_given_t.reshape(2,)
        # QUESTION 3.1
        # Step 1: Draw s_1 and s_2 from the conditional distribution N(mean_s|t, cov_s|t) -
        s_1, s_2 = multivariate_normal.rvs(mean=mean_s_given_t, cov=cov_s_given_t)

        

        # QUESTION 3.2
        # Step 2: Draw t from the conditional distribution 
        mean_t = s_1 - s_2 

        if y == 1:
            t = truncated_normal(mean_t, sigma_t, epsilon, np.inf)  # For y = 1, t > e
        elif y == -1:
            t = truncated_normal(mean_t, sigma_t, -np.inf, -epsilon)  # For y = -1, t < e
        else:
            t = truncated_normal(mean_t, sigma_t, -epsilon, epsilon) # For y = 0, -e < t < e

            

        # Store samples
        samples.append((s_1, s_2, t))

    
  
    samples = np.array(samples)
    return samples

In [98]:
def get_team_skills(team_A, team_B, skills_dist):
    # Extract mu and sigma for team_A and team_B
    mu_A, sigma_A = skills_dist[team_A]
    mu_B, sigma_B = skills_dist[team_B]
    
    return mu_A, sigma_A, mu_B, sigma_B

def set_team_skills(team_A, mu_A, sigma_A, team_B, mu_B, sigma_B, skills_dist):
    skills_dist[team_A] = [mu_A, sigma_A]
    skills_dist[team_B] = [mu_B, sigma_B]

In [99]:
def phi_value(mu_A, sigma_A, mu_B, sigma_B, sigma_t=sigma_t):
   
    denom = np.sqrt(sigma_A * sigma_A + sigma_B * sigma_B + sigma_t * sigma_t)
    # Calculate the argument for the CDF (Phi)
    argument = (mu_B - mu_A) / denom
    return norm.cdf(argument)

def predict_winner(epsilon, mu_A, sigma_A, mu_B, sigma_B):
    p_win = 1 - phi_value(mu_A, sigma_A, mu_B, sigma_B) 
    if p_win > 0.5 + epsilon:
        return 1 # win
    elif p_win < 0.5 - epsilon:
        return -1 # lost
    return 0 # draw

In [100]:
predicted_y = []
limit = len(result_array)
# MU and Sigma for each team
skills_dist = [[mu_1, sigma_1] for _ in unique_teams]

for team_A, team_B, y in result_array[:limit]:
    mu_A, sigma_A, mu_B, sigma_B = get_team_skills(team_A, team_B, skills_dist)
    # compute the prediction
    predicted_y.append(predict_winner(0.07, mu_A, sigma_A, mu_B, sigma_B))
    samples = gibbs_sampler(mu_A, sigma_A, mu_B, sigma_B,
                                                    y=y,
                                                    iterations=iterations)
    # Getting the mean and variance of new skills
    mean = np.mean(samples[burn_in:, :2], axis = 0)
    covariance = np.cov(samples, rowvar = False)
    mu_A_new, sigma_A_new, mu_B_new, sigma_B_new =  mean[0], np.sqrt(covariance[0,0]), mean[1], np.sqrt(covariance[1, 1])
    set_team_skills(team_A, mu_A_new, sigma_A_new, team_B, mu_B_new, sigma_B_new, skills_dist)

# compare to the result in the dataset
true_y = result_array[:, -1]
correct_guesses = np.sum(predicted_y == true_y[:limit])
r = correct_guesses / limit
print(f"r is {r:.2f}")

r is 0.49

In [82]:
print(predicted_y[:20])
print(true_y[:20])

[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, -1, 0, 1, -1, 0, -1, 1]
[-1 -1 -1  1  0  1 -1  1  1  1  1  1  0  1  0  1  0  0  1 -1]

In [72]:
# ranked based on mu - 3 * sigma
ranked_teams = sorted(enumerate(skills_dist), key=lambda x: x[1][0] - 3.0 * x[1][1], reverse=True)
# Print ranked teams with their skills
for rank, (idx, (m, s)) in enumerate(ranked_teams, start=1):
    print(f"Rank {rank}: Team {unique_teams[idx]} - Skill: {m}, Var: {s*s}")

Rank 1: Team Atalanta - Skill: 27.3660589677004, Var: 0.8150048075587593
Rank 2: Team Napoli - Skill: 27.180085052109828, Var: 1.0180047927449019
Rank 3: Team Juventus - Skill: 27.890952251601167, Var: 1.6528738857572498
Rank 4: Team Milan - Skill: 26.8045113908345, Var: 0.9204059309924386
Rank 5: Team Inter - Skill: 26.77028046431992, Var: 0.9143968086015667
Rank 6: Team Torino - Skill: 26.382159428125917, Var: 0.726294581285762
Rank 7: Team Roma - Skill: 26.405847379466802, Var: 0.7560392851215868
Rank 8: Team Lazio - Skill: 25.720745163910927, Var: 0.8522238163650898
Rank 9: Team Sampdoria - Skill: 24.912049517546603, Var: 0.8234970091061135
Rank 10: Team Bologna - Skill: 24.919753102849064, Var: 1.066873186431079
Rank 11: Team Udinese - Skill: 24.27791714759934, Var: 0.7100264220320497
Rank 12: Team Sassuolo - Skill: 24.17286439339668, Var: 0.6878680296448451
Rank 13: Team Fiorentina - Skill: 24.095518665411454, Var: 0.6503918175422013
Rank 14: Team Parma - Skill: 24.082364060944954, Var: 0.7793400971788498
Rank 15: Team Genoa - Skill: 23.781059811698725, Var: 0.7611824670586502
Rank 16: Team Cagliari - Skill: 23.77885387041838, Var: 0.8570756550748294
Rank 17: Team Spal - Skill: 23.674262891932234, Var: 0.9805870340741687
Rank 18: Team Empoli - Skill: 23.5266127789716, Var: 1.0495157043475158
Rank 19: Team Frosinone - Skill: 22.26281881167657, Var: 0.844950650079353
Rank 20: Team Chievo - Skill: 22.286835904730296, Var: 0.9974068957239086